{% extends 'website/base.html' %}

{% load static %}
{% block title %}शिवाई मंदिर, शिवना | About Us{% endblock title %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'website:index' %}">Home</a></li>
          <li>Team</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title pt-5" >
          <h2>मंदिर विश्वस्त समिती </h2>
          <p>श्री. शिवाई देवी संस्थान शिवना, मंदिर विश्वस्त</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/subhash_holkar.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. सुभाष आनंदराव होळकर</h4>
                <span>अध्यक्ष</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/vitthalrao_kale.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. विठ्ठलराव धोंडिबा काळे</h4>
                <span>उपाध्यक्ष</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/rajdhar_raut.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. राजधर माणिकराव राऊत</h4>
                <span>सचिव</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/ramesh_jamdar.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. रमेश तोताराम जामदार</h4>
                <span>कोषाध्यक्ष </span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/totaram_raut.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. तोताराम काशिनाथ राऊत</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/uttamrao_kale.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. उत्तमराव रखमाजी काळे</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/madhukar_vikhankar.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. मधुकर किसन विखनकर</h4>
                <span>सदस्य </span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/kamal_raut.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्रीमती. कमलबाई जगन्नाथ राऊत</h4>
                <span>सदस्या </span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/sanjay_deshpande.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. संजय रमेशराव देशपांडे</h4>
                <span>सदस्य </span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/dattatray_raut.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. दत्तात्रय भिका राऊत</h4>
                <span>सदस्य </span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/gangadhar_gadekar.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. गंगाधर ओंकारअप्पा गाडेकर</h4>
                <span>सदस्य </span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/satishkumar_agrawal.jpg' %}" class="img-fluid" alt="image not available">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. डॉ. सतीशकुमार माणकलाल अग्रवाल</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/gajanan_raut.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. गजानन दत्तात्रय राऊत</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/subhashchandra_kale.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. डॉ. सुभाषचंद्र बाजीराव काळे</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/tejrao_raut.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. तेजराव गणपत राऊत</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/sunil_kale.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. सुनील त्र्यंबक काळे</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/baburao_bhagwat.jpg' %}" class="img-fluid" alt="image not available">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. बाबुराव किसन भागवत</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/anil_jadhav.jpg' %}" class="img-fluid" alt="image not available">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. अनिल सांडु जाधव</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/shyam_wadgaonkar.jpg' %}" class="img-fluid" alt="image not available">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. श्याम रामचंद्र वडगावकर</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/shridhar_kale.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. श्रीधर एकनाथ काळे</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/about/akhilesh_gupta.jpg' %}" class="img-fluid" alt="image not available">
                <div class="social">
                  <a href="tel:919881734529">
                    <i class="bi bi-phone"></i>&nbsp;98817&nbsp;34529
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919881734529" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98817&nbsp;34529
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. अखिलेश सुधिर गुप्ता</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>         

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->
  
  {% endblock %}