{% extends 'website/base.html' %}

{% load static %}
{% block title %}बालाजी मंदिर संस्थान, शिवना | About Us{% endblock title %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'website:index' %}">Home</a></li>
          <li>Team</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title pt-5" >
          <h2>मंदिर विश्वस्त समिती </h2>
          <p>श्री. बालाजी मंदिर संस्थान शिवना, मंदिर विश्वस्त</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/balaji_about/Valuba_Raut.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919860907942">
                    <i class="bi bi-phone"></i>&nbsp;98609&nbsp;07942
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919860907942" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98609&nbsp;07942
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. वाळूबा काशिनाथ राऊत</h4>
                <span>अध्यक्ष</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/balaji_about/kashinath_kale.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919764202801">
                    <i class="bi bi-phone"></i>&nbsp;97642&nbsp;02801
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919764202801" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;97642&nbsp;02801
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. काशिनाथ भाऊराव काळे</h4>
                <span>उपाध्यक्ष</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/balaji_about/dhananjay_mayur.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919860666317">
                    <i class="bi bi-phone"></i>&nbsp;98606&nbsp;66317
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919860666317" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;98606&nbsp;66317
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. धनंजय शंकर मयूर</h4>
                <span>सचिव</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/balaji_about/shubhash_kale.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:918390002955">
                    <i class="bi bi-phone"></i>&nbsp;83900&nbsp;02955
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=918390002955" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;83900&nbsp;02955
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. सुभाष संपत काळे</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/balaji_about/bhaskar_raut.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:918806942720">
                    <i class="bi bi-phone"></i>&nbsp;88069&nbsp;42720
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=918806942720" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;88069&nbsp;42720
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. भास्कर लक्ष्मण राऊत</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/balaji_about/bhausaheb_kale.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919960793911">
                    <i class="bi bi-phone"></i>&nbsp;99607&nbsp;93911
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919960793911" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;99607&nbsp;93911
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. भाऊसाहेब भीमराव काळे</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/balaji_about/tulshidas_shinde.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919021217809">
                    <i class="bi bi-phone"></i>&nbsp;90212&nbsp;17809
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919021217809" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;90212&nbsp;17809
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. तुळशीदास त्रिंबक शिंदे</h4>
                <span>सदस्य </span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/balaji_about/gajanan_bhawsar.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919404983141">
                    <i class="bi bi-phone"></i>&nbsp;94049&nbsp;83141
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919404983141" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;94049&nbsp;83141
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. गजानन सूर्यकांत भावसार</h4>
                <span>सदस्य </span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/balaji_about/madhukar_kale.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919970661904">
                    <i class="bi bi-phone"></i>&nbsp;99706&nbsp;61904
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919970661904" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;99706&nbsp;61904
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. मधुकरराव किसनराव काळे</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/balaji_about/uttam_kale.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919730222200">
                    <i class="bi bi-phone"></i>&nbsp;97302&nbsp;22200
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919730222200" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;97302&nbsp;22200
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. उत्तमराव रखमाजी काळे</h4>
                <span>सदस्य</span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/balaji_about/gajanan_raut.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919922360035">
                    <i class="bi bi-phone"></i>&nbsp;99223&nbsp;60035
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919922360035" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;99223&nbsp;60035
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. गजानन दत्तात्रय राऊत</h4>
                <span>सदस्य </span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/balaji_about/subhash_zalte.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919021590929">
                    <i class="bi bi-phone"></i>&nbsp;90215&nbsp;90929
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919021590929" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;90215&nbsp;90929
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. सुभाष विनायक झाल्टे</h4>
                <span>सदस्य </span>
              </div>
              </center>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch center-horizontally">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/balaji_about/kishor_gupta.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:919960779691">
                    <i class="bi bi-phone"></i>&nbsp;99607&nbsp;79691
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=919960779691" target="_blank">
                    <i class="bi bi-whatsapp"></i>&nbsp;99607&nbsp;79691
                  </a>
                </div>
              </div>
              <center>
              <div class="member-info">
                <h4>श्री. किशोर शंकरलाल गुप्ता</h4>
                <span>सदस्य </span>
              </div>
              </center>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->
  
  {% endblock %}