{% extends 'website/base.html' %}

{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'website:index' %}">Home</a></li>
          <li>Contact</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3737.7263448907697!2d75.79772911532653!3d20.47642991177849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bda2a23c68cd1d3%3A0x24f837ca8219bcda!2sShri%20Shivai%20Devi%20Mandir%20Sansthan%20Shivna!5e0!3m2!1sen!2sin!4v1633630243707!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">
          
          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>पत्ता:</h4>
                <p>श्री. शिवाई देवी संस्थान, शिवना<br> 
                  ता. सिल्लोड, जि.औरंगाबाद <br>
                  पिन कोड - 431132
                </p>
              </div>
            
              <div class="col-lg-4 col-md-6" data-aos="fade-right">
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <a href="mailto:info@ateventservices.in">
                    <h4>ईमेल:</h4>
                    <p>info@shivaidevishivna.in</p>
                  </a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6" data-aos="fade-right">
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <a href="tel:919881734529">
                    <h4>फोन नंबर:</h4>
                    <p>+919881734529</p>
                  </a>
                  </div>
              </div>
            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form action="." method="post" role="form" class="php-email-form">
              <div class="row">

                <div class="col-md-4 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Name" required>
                </div>
                <div class="col-md-4 form-group ">
                  <input type="tel" class="form-control" name="contact" id="contact" placeholder="Phone number" pattern="(0|\+91)*[1-9][0-9]{9}"
                         oninvalid="setCustomValidity('Please enter valid mobile number!')" oninput="setCustomValidity('')" required>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" oninvalid="setCustomValidity('Please enter valid email address!')" oninput="setCustomValidity('')" required>
                </div>
              </div>

              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>

              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>
        
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock %}