{% extends 'website/base.html' %}

{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'website:index' %}">Home</a></li>
          <li>Donation</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title pt-5" >
          <h2>श्री. शिवाई देवी संस्थान, शिवना</h2>
          <p>तुम्ही केलेले दान हे देवीचा अभिषेक तसेच मंदिरातील आणि आजूबाजूच्या परिसरातील सुधारणा करण्याकरता वापरण्यात येईल.</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-6 col-md-6" data-aos="fade-right">
            <div class="info">
            
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>पत्ता:</h4>
                <p>श्री. शिवाई देवी संस्थान, शिवना<br> 
                  ता. सिल्लोड, जि.औरंगाबाद <br>
                  पिन कोड - 431132
                </p>
              </div><br>
            
            
              <div class="col-lg-6 col-md-6" data-aos="fade-right">
                <div class="email">
                  <i class="bi bi-bank"></i>
                  <h4>श्री. शिवाई देवी संस्थान, शिवना</h4>
                  <p>Account Number - 62343933059</p>
                  <p>IFSC Code - SBIN0022001</p>
                </div>
              </div>  
            </div>
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0" data-aos="fade-left" style="text-align:center;">
            <h4 style="color : #256211;">खाली दिलेला QR कोड स्कॅन करा</h4>
            <div >
              <img src="{% static 'website/assets/img/qrcode.png' %}" class="img-fluid qrcode" alt="" >
            </div>
          </div>
        </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock %}