{% load static %}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-info">
            <h3>पत्ता :</h3>
            <p>
              शिवाई मंदिर, शिवना <br>
              ता. सिल्लोड,
              जि.औरंगाबाद<br>
              पिन कोड - 431132
              </p>
            </div>
          
          <div class="col-lg-6 col-md-6 footer-contact">
            <h3>सोशल मीडिया</h3>
            <p>              
              <strong>Phone:</strong> +91 866985214<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
       <div class="copyright">
          &copy; Copyright <span><a href="{% url 'website:index' %}">Shivai Shivna</a></span>. All Rights Reserved
        </div>
      </div>
      <div class="credits text-center text-md-right pt-3 pt-md-0">
      Designed by <a href="https://www.credencesolutions.in/" target="_blank">Credence Solutions</a>
    </div>
    </div>
  </footer><!-- End Footer -->
