{% extends 'website/base.html' %}

{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'website:index' %}">Home</a></li>
          <li>Gallery</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter=".filter-shivai" class="filter-active">शिवाई मंदिर</li>
              <li data-filter=".filter-lekh">वर्तमान पत्रातील लेख</li>
              <li data-filter=".filter-programs">सार्वजनिक कार्यक्रम</li>
              <li data-filter=".filter-amsari">आमसरी</li>
              <li data-filter=".filter-ajanta">अजिंठा लेणी</li>
              <li data-filter=".filter-dhotra">सिद्धेश्वर महाराज संस्थान</li>
              <li data-filter=".filter-anwa">आजुबाई संस्थान</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-1.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-2.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-3.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-4.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-5.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-6.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-7.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-8.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-9.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-10.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-11.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-12.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-13.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-14.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-shivai">
            <img src="{% static 'website/assets/img/gallery/s-15.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-lekh">
            <img src="{% static 'website/assets/img/gallery/l-1.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-lekh">
            <img src="{% static 'website/assets/img/gallery/l-1.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-lekh">
            <img src="{% static 'website/assets/img/gallery/l-2.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-lekh">
            <img src="{% static 'website/assets/img/gallery/l-3.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-lekh">
            <img src="{% static 'website/assets/img/gallery/l-4.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-lekh">
            <img src="{% static 'website/assets/img/gallery/l-5.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-lekh">
            <img src="{% static 'website/assets/img/gallery/l-6.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-lekh">
            <img src="{% static 'website/assets/img/gallery/l-7.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-lekh">
            <img src="{% static 'website/assets/img/gallery/l-8.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-programs">
            <img src="{% static 'website/assets/img/gallery/pr-1.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-programs">
            <img src="{% static 'website/assets/img/gallery/pr-2.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-programs">
            <img src="{% static 'website/assets/img/gallery/pr-3.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          


          <div class="col-lg-4 col-md-6 portfolio-item filter-ajanta">
            <img src="{% static 'website/assets/img/gallery/a-1.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-ajanta">
            <img src="{% static 'website/assets/img/gallery/a-2.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-ajanta">
            <img src="{% static 'website/assets/img/gallery/a-3.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-ajanta">
            <img src="{% static 'website/assets/img/gallery/a-4.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>          
          <div class="col-lg-4 col-md-6 portfolio-item filter-ajanta">
            <img src="{% static 'website/assets/img/gallery/a-5.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-ajanta">
            <img src="{% static 'website/assets/img/gallery/a-6.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-ajanta">
            <img src="{% static 'website/assets/img/gallery/a-7.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-ajanta">
            <img src="{% static 'website/assets/img/gallery/a-8.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-1.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-2.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-3.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-4.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-5.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-6.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-7.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-8.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-9.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-10.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-11.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-12.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-13.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-14.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <img src="{% static 'website/assets/img/gallery/am-15.jpg' %}" class="img-fluid portfolio-lightbox " alt="" >
          </div>

                    
          <div class="col-lg-4 col-md-6 portfolio-item filter-dhotra">
            <img src="{% static 'website/assets/img/gallery/dh-1.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-dhotra">
            <img src="{% static 'website/assets/img/gallery/dh-2.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-dhotra">
            <img src="{% static 'website/assets/img/gallery/dh-3.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-dhotra">
            <img src="{% static 'website/assets/img/gallery/dh-4.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-dhotra">
            <img src="{% static 'website/assets/img/gallery/dh-5.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-dhotra">
            <img src="{% static 'website/assets/img/gallery/dh-6.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-dhotra">
            <img src="{% static 'website/assets/img/gallery/dh-7.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>

          
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-anwa">
            <img src="{% static 'website/assets/img/gallery/anw-1.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-anwa">
            <img src="{% static 'website/assets/img/gallery/anw-2.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-anwa">
            <img src="{% static 'website/assets/img/gallery/anw-3.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-anwa">
            <img src="{% static 'website/assets/img/gallery/anw-4.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-anwa">
            <img src="{% static 'website/assets/img/gallery/anw-5.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-anwa">
            <img src="{% static 'website/assets/img/gallery/anw-6.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-anwa">
            <img src="{% static 'website/assets/img/gallery/anw-7.jpg' %}"  class="img-fluid portfolio-lightbox " alt="" >
          </div>

          <!--<div class="col-lg-4 col-md-6 portfolio-item filter-amsari">
            <div class="portfolio-wrap">
              <img src="{% static 'website/assets/img/gallery/9.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'website/assets/img/gallery/9.jpg' %}" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>-->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

  {% endblock %}